@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


body{
    font-family: 'Roboto Mono', monospace;
    background-repeat: no-repeat;
    background-size: cover;
  }
body.bg-template{
   
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    }

canvas {
  display: block;
}

.menu {
  display:inline-flex;
  align-items: right;
  position: absolute;
  top:-5px;
right:70px;

}

.menu li {
  list-style: none;
  margin-right: 30px;
}
.menu li img{
  width:35px;
  background-repeat: no-repeat;
  position: absolute;
  top:-10px;
right:0px;
margin-top: 4px;
}
.menu li a {
  text-decoration: none;
    font-size:18px;
  }

nav.nav{
  float:top;
  width:100%;
  height:60px;
  position: absolute;
  top: 0;
  left: 0;
  
height: 60px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;

}

.nav-bar{
  display: flex;
  cursor: pointer;
flex-direction: column;
justify-content: space-between;
height: 18px;


  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-icon {
  width: 25px;
  height: 2px;
  background-color:#4F699a;
}

div.dropdownmenu {
  text-decoration: none;
  margin:10px auto 20px auto;
  padding:0;
  list-style: none;
  float:center;
  position:absolute;

}
.dropdownmenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownmenu li {
  display: block;
  text-align: center;
  padding: 10px;
}

.dropdownmenu a {
  display: block;
  text-decoration: none;
  color: #fff; /* Change text color to white */
  font-size: 100px; /* Adjust font size as desired */
  font-style:oblique;
}

.dropdownmenu li:nth-child(1) a {
  /* Position for Redux rectangle */
  position: absolute;
  top: 300px; /* Adjust this value to center the li in the rectangle vertically */
  left: 350px; /* Adjust this value to center the li in the rectangle horizontally */
}

.dropdownmenu li:nth-child(2) a {
  /* Position for Voting rectangle */
  position: absolute;
  top: 800px; /* Adjust this value to center the li in the rectangle vertically */
  left: 1300px; /* Adjust this value to center the li in the rectangle horizontally */
}

.dropdownmenu li:nth-child(3) a {
  /* Position for  Album  rectangle */
  position: absolute;
  top: 800px; /* Adjust this value to center the li in the rectangle vertically */
  left: 350px; /* Adjust this value to center the li in the rectangle horizontally */
}

.dropdownmenu li:nth-child(4) a {
  /* Position for post rectangle */
  position: absolute;
  top: 300px; /* Adjust this value to center the li in the rectangle vertically */
  left: 1300px; /* Adjust this value to center the li in the rectangle horizontally */
}


main#description b h2{
  width:500px;
  float:left;
  color:#757B85;
  margin-top: 150px;
  margin-left:100px;
  position:absolute;
  padding:50px;
}
main#description h2{
  width:500px;
  float:left;
  color:#757B85;
  margin-top: 150px;
  margin-left:100px;
  position:absolute;
  padding:50px;
}
main#description video{
  width:500px;
  height:500px;
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left: 200px;
  padding:50px;
}
main#description li img{
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left: 400px;
  padding:50px;
}
main#description img{
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left: 100px;
  padding:50px;
}

main#description f img{
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left: 800px;
  padding:50px;
}
main#description p{
  color:#757B85;   
  float:right;
  margin-left: 800px;
  margin-top:150px;
  position:absolute;
  font-size:25px;
  padding:50px;
  }
main#description a{
  color:#757B85;   
  float:right;
  margin-left: 800px;
  margin-top: 250px;
  padding: 50px;
  position:absolute;
  border: 0px;
  font-size:15px;
  text-align:match;
}
main#description d img {
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left:10px;
  padding:50px;
}
main#description b img{
  float: left;
  margin-top: 250px;
  position: absolute;
  margin-left: 400px;
  padding:50px;
}
main#description c img{
  float: left;
  margin-top: 553px;
  position: absolute;
  margin-left: 10px;
  padding:50px;
}
main#description e img {
  float: left;
  margin-top: 570px;
  position: absolute;
  margin-left: 400px;
  padding:50px;
}
main#description h3 {
  color:#757B85;   
  float:right;
  margin-left: 800px;
  margin-top: 800px;
  padding: 50px;
  position:absolute;
  border: 0px;
  font-size:15px;
  text-align:match;
}